<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>Packman-three-js</title>
  <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
  <div id="scene"></div>

  <script src="../public/js/three.js"></script>
  <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
  <script src="https://threejs.org/examples/js/Detector.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>  
  <script src="../public/js/utilEvents.js"></script>
  <script src="../public/js/mouseEvents.js"></script>
  <script src="../public/js/entity/packman.js"></script>
  <script src="../public/js/entity/rivals.js"></script>
  <script src="../public/js/main.js"></script>
</body>

</html>