<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>Packman-three-js</title>
  <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
  <div id="background"></div>
  <div id="scene"></div>

  <script src="../public/js/libs/three.js"></script>
  <script src="../public/js/libs/OrbitControls.js"></script>
  <script src="../public/js/libs/Detector.js"></script>
  <script src="../public/js/libs/Mirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="../public/js/text.js"></script>
  <script src="../public/js/events/gameEvents.js"></script>
  <script src="../public/js/events/mouseEvents.js"></script>
  <script src="../public/js/events/keyboardEvents.js"></script>
  <script src="../public/js/events/packmanEvents.js"></script>
  <script src="../public/js/entities/packman.js"></script>
  <script src="../public/js/entities/rivals.js"></script>
  <script src="../public/js/index.js"></script>
</body>

</html>